.top-page-alert {
    margin-top: 20px;
    margin-bottom: 20px;
}

.break-text {
    word-wrap: break-word;
}

.bg-frozen-grass {
    background-color: #EAFAF1;
}

.bg-sunny-oak-leave {
    background-color: #F5FED5;
}
