<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Request Catcher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>

<script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

<div class="container col-lg-12 row">

    <div class="alert alert-success top-page-alert col-lg-10 mx-auto mt-4 mr-4 ml-4" role="alert">
        <span th:text="${title}" class="font-weight-bold"></span>
    </div>

    <div class="col-lg-10 mx-auto">
        <div class="col-lg-10 float-left">
            <button class="btn btn-primary btn-success mt-2 mb-3" data-toggle="collapse" data-target="#add-listener"
                    id="add-listener-button">
                Add listener
            </button>
            <div class="collapse" id="add-listener">
                <div class="well mt-2 mb-2">
                    <div class="col-md-12">
                        <p class="lead">Add a new endpoint:</p>
                    </div>

                    <div class="col-md-12">
                        <form class="form-inline" method="post" action="#" th:action="@{/endpoints-manager}"
                              th:object="${newEndpoint}" id="add-listener-form">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="path" class="mx-sm-3"><b>/endpoints/</b></label>
                                <input type="text" class="form-control" id="path" autocomplete="off"
                                       placeholder="[a-zA-Z_0-9]"
                                       th:field="*{path}">
                                <span th:if="${#fields.hasErrors('path')}" th:errors="*{path}"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-success mb-2">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 float-right">
            <form action="#" th:action="@{/clear-database}" th:method="post">
                <button type="submit" class="btn btn-primary btn-danger mt-2 mb-3" id="clear-db-button">Clear database
                </button>
            </form>
        </div>
    </div>

    <div id="errors" class="col-lg-10 mx-auto m-3" th:if="${param.error}">
        <div class="alert alert-danger" role="alert">
            <ul class="p-2">
                <li th:each="err : ${errors}" th:text="${err}">Error</li>
            </ul>
        </div>
    </div>

    <div class="col-lg-10 mx-auto">

        <table class="table table-hover endpoints-list-table">
            <thead>
            <tr>
                <th scope="col" width="60%">Path</th>
                <th scope="col" width="20%">Active</th>
                <th scope="col" width="20%" colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="endpoint : ${endpointsPage.content}" class="endpoint-action-row">
                <td th:text="${endpoint.path}" class="endpoint-path"></td>
                <td th:text="${endpoint.active}" class="endpoint-active-state"></td>
                <td>
                    <div th:switch="${endpoint.active}" role="group" class="btn-group">
                        <form action="#" th:case="${true}"
                              th:action="@{'/endpoints-manager/{id}/active/false'(id=${endpoint.id})}" th:method="put">
                            <input type="hidden" name="_method" value="put"/>
                            <button type="submit" class="btn btn-warning pause-endpoint-listening-button">Pause</button>
                        </form>
                        <form action="#" th:case="*"
                              th:action="@{'/endpoints-manager/{id}/active/true'(id=${endpoint.id})}"
                              th:method="put">
                            <input type="hidden" name="_method" value="put"/>
                            <button type="submit" class="btn btn-success resume-endpoint-listening-button">Resume
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    <a role="button" class="btn btn-info view-endpoint-info-button"
                       th:href="@{'/endpoints-manager/{id}'(id=${endpoint.id})}">View</a>
                </td>
                <td>
                    <form action="#" th:action="@{'/endpoints-manager/{id}'(id=${endpoint.id})}" th:method="delete">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger delete-endpoint-button">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="col-lg-10 mx-auto">
            <div class="col-lg-3 float-left">
                <form class="form-inline" action="#" th:action="@{'/'}" th:method="get">
                    <div class="form-group row m-1 p-1">
                        <label for="size" class="col-lg-7 col-form-label">Items per page: </label>
                        <input type="text" class="col-lg-5 form-control" name="size" id="size"
                               th:placeholder="${endpointsPage.size}">
                        <input type="submit" style="display: none"/>
                    </div>
                </form>
            </div>

            <div class="col-lg-3 float-right">
                <div th:if="${endpointsPage.totalPages > 0}" class="btn-toolbar pagination" role="toolbar">
                    <div class="btn-group m-1 p-1" role="group">
                        <a th:href="@{/?(size=${endpointsPage.size}, page=1)}"
                           th:class="${1==endpointsPage.number + 1} ? 'btn btn-primary' : 'btn btn-secondary'">First</a>
                        <a th:href="@{/?(size=${endpointsPage.size}, page=${endpointsPage.number})}"
                           class="btn btn-secondary"><</a>
                        <a th:href="@{/?(size=${endpointsPage.size}, page=${endpointsPage.number + 1})}"
                           th:text="${endpointsPage.number + 1}"
                           class="btn btn-primary"></a>
                        <a th:href="@{/?(size=${endpointsPage.size}, page=${endpointsPage.number + 2})}"
                           class="btn btn-secondary">></a>
                        <a th:href="@{/?(size=${endpointsPage.size}, page=${endpointsPage.getTotalPages()})}"
                           th:class="${endpointsPage.getTotalPages()==endpointsPage.number + 1} ? 'btn btn-primary' : 'btn btn-secondary'">Last</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
